* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #ffffcc;
  display: flex;
  flex-direction: column;
  font-family: 'Zilla Slab', serif;
}

p {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1 {
  padding-top: 10px;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.restriction {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #fff9de;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav {
  padding-top: 20px;
  justify-content: center;
}

.nav-pills .nav-link {
  border-radius: 0;
}


.nav-link {
  margin: 0 5px 0 5px;
  border-radius: 0;
  font-size: 18px;
  background-color: rgba(206, 177, 128, 1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: #000;
}

.nav-pills .nav-link.active {
  background-color: rgba(206, 177, 128, 0.8);
  box-shadow: none;
  color: #000;
}

.nav-link:hover {
  background-color: rgba(206, 177, 128, 0.5);
}

.avatar {
  border: 5px solid #f2d984;
  border-radius: 50%;
  width: 200px;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.about-me-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffcc;
}

.fa-info-circle {
  color: #ceb180;
  font-size: 50px;
  padding-bottom: 10px;
}

.fa-address-card {
  color: #ceb180;
  font-size: 50px;
  padding-bottom: 10px;
}

.fa-black-tie {
  color: #ceb180;
  font-size: 50px;
  padding-bottom: 10px;
}

.technologies-wrapper {
  display: flex;
  background-color: #f0f0d6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-me-text {
  text-align: center;
}

.portfolio-text {
  text-align: center;
}

.resume-text {
  text-align: center;
}

.tools-wrapper {
  display: flex;
  justify-content: center;
}

.tool-wrapper {
  padding: 0 20px 0 20px;
}

.technologies-wrapper-p {
  padding-bottom: 20px;
}

.tools-i {
  font-size: 90px;
}

.fa-js {
  color: #f8dc3d;
}

.fa-html5 {
  color: #f34e2d;
}

.fa-css3-alt {
  color: #1e5fa9;
}

.fa-react {
  color: #01d2f4;
}

.fa-bootstrap {
  color: #5e3e8b
}

.time-pieces {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.time-piece{
  background-color: rgba(255, 236, 139, 1);
  margin: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 15px 15px 15px 20px;
}

.span-n-div {
  display: flex;
  align-items: center;
}

.time-piece-span {
  width: 25px;
  text-align: center;
}

.time-piece-p {
  font-size: 20px;
  padding-bottom: 4px;
}

.time-piece-i {
  margin-right: 5px;
  font-size: 20px;
}

.time-piece-a {
  color: black;
}

.time-piece-a:hover {
  color: black;
}

.footer {
  background-color: #fff9de;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts-a {
  color: black;
  font-size: 50px;
  margin: 0 auto;
  padding: 0 5px 0 5px;
}

.fa-envelope-square {
  color: #ceb180;
}

.fa-linkedin {
  color: #0074b2;
}

.resume-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffcc;
}

.portfolio-wrapper
 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffcc;
}
