* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff9de;
  display: flex;
  flex-direction: column;
  font-family: 'Zilla Slab', serif;
}

.h1-name {
  font-size: 30px;
  margin: 0;
  padding-bottom: 10px;
}

.h2-position {
  font-size: 25px;
  margin: 0;
}

p {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1 {
  padding-top: 10px;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.restriction {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #fff9de;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav {
  padding-top: 10px;
  justify-content: center;
  margin-bottom: 0!important;
}

.nav-pills .nav-link {
  border-radius: 0;
}


.nav-link {
  margin: 0 5px 0 5px;
  border-radius: 0;
  font-size: 18px;
  background-color: rgba(206, 177, 128, 1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: #000;
  transition: background-color .1s linear, box-shadow .1s linear;
}

.nav-pills .nav-link.active {
  background-color: rgba(206, 177, 128, 0.8);
  box-shadow: none;
  color: #000;
}

.nav-link:hover, .nav-link:focus {
  background-color: rgba(206, 177, 128, 0.5);
  color: #000;
}

.avatar {
  border: 5px solid #ceb180;
  border-radius: 50%;
  width: 150px;
  max-width: 100%;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.about-me-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffcc;
}

.section-icon {
  height: 50px;
  margin-bottom: 10px;
}

.technologies-wrapper {
  display: flex;
  background-color: #f0f0d6;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-me-text {
  text-align: center;
  padding: 0 15px;
}

.portfolio-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.resume-text {
  text-align: center;
}

.portfolio-piece {
  background-color: rgba(255, 236, 139, 1);
  margin: 10px 5px 5px 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 15px 15px 15px 10px;
  min-width: 250px;
  width: 75%;
}

.portfolio-links {
  display: flex;
  justify-content: space-between;
}

.portfolio-p {
  font-size: 18px;
  margin-top: 5px;
}

.portfolio-h2 {
  margin: 0;
  padding: 0;
}

.portfolio-p-bottom {
  font-size: 20px;
}

.portfolio-i {
  height: 27px;
  margin-right: 5px;
}

.portfolio-a {
  display: flex;
  margin-top: 10px;
  color: #000000;
}

.portfolio-a:hover, .portfolio-a:focus {
  color: #000000;
}

.tools-wrapper {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.tool-wrapper {
  padding: 0 15px 0 15px;
}

.technologies-wrapper-p {
  padding-bottom: 10px;
  padding: 0 15px;
}

.tools-i {
  height: 90px;
}

.time-pieces {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.time-piece{
  background-color: rgba(255, 236, 139, 1);
  margin: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 15px 15px 15px 10px;
  min-width: 250px;
}

.span-n-div {
  display: flex;
  align-items: center;
}

.time-piece-span {
  width: 25px;
  text-align: center;
}

.time-piece-p {
  font-size: 20px;
  padding-bottom: 4px;
}

.time-piece-i {
  margin-right: 5px;
  font-size: 10px;
  height: 10px;
}

.time-piece-a {
  color: black;
}

.time-piece-a:hover, .time-piece-a:focus {
  color: black;
}

.footer {
  background-color: #fff9de;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts {
  margin: 10px auto auto auto;
}

.contacts-a {
  outline: none;
  margin: 0 5px;
  float: left;
  transition: opacity 0.4s linear;
  cursor: pointer;
}

.contacts-a:hover,
.contacts-a:focus {
  opacity: .7;
}

.contacts-a img {
  height: 50px;
}

.resume-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffcc;
}

.portfolio-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffcc;
}

@media (max-width: 875px) {
  .tools-p {
    display: none;
  }

  .tool-wrapper {
    padding: 0 10px 0 10px;
  }
}

@media (max-width: 850px) {
  .h1-name {
    font-size: 30px;
  }

  .h2-position {
    font-size: 22px;
  }
}

@media (max-width: 650px) {
  .portfolio-links {
    display: block;
  }
}

@media (max-width: 700px) {
  .tools-i {
    height: 60px;
  }

  .tool-wrapper {
    padding: 0 5px 0 5px;
  }
}

@media (max-width: 450px) {
  .tools-i {
    height: 50px;
  }

  .tool-wrapper {
    padding: 0 2.5px 0 2.5px;
  }
}

@media (max-width: 340px) {
  .tools-i {
    height: 40px;
  }

  .tool-wrapper {
    padding: 0 1.5px 0 1.5px;
  }

  .nav-link {
    font-size: 15px;
    padding: 0.5rem;
  }
}
